$white: #fff;
$regular-blue: #1772ba;
$darker-blue:#1068ae;
$regular-red: #d52323;
$darker-red:#c11b1b;
$regular-orange: #ba7c17;
$regular-purple: #7f00ae;

body {
    background: rgb(39, 39, 39);
    background-image: url("../img/background.jpg");
    background-size:1000px 1000px;
}
.bannerContainer {
    position:fixed;
    height:250px;
    left:0px;
    top:0px;
    width: 100%;
    background:#fff;
    border-bottom:3px solid #ffe6bf;
    overflow:hidden;
    display: flex;
    justify-content: center;
    z-index:3;
    background-color:$regular-purple;
    .redHeart {
        width: 100px;
        left: 12%;
        top:5%;
        position: absolute;
        z-index: 5;
        opacity: 0;
        margin-left: -100px;
        text-align: center;
        img {
            width:100%;
        }
    } 
    .blueHeart {
        text-align: center;
        width: 100px;
        right: 12%;
        top:5%;
        position: absolute;
        z-index: 5;
        opacity: 0;
        margin-right: -100px;
        img {
            width:100%;
        }
    }
    .purpleHeart {
        text-align: center;
        width: 100%;

        top:35%;
        position: absolute;
        z-index: 5;
        opacity: 0;
        margin-right: 0;
        img {
            width:230px;
        }
    }
}


.block {
    bottom:100%;
}
.redBlock {
    background: $darker-red;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 99%;
    z-index: -1;
}
.blueBlock {
    background: $darker-blue;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 99%;
    z-index: -1;
}
.peopleContainer {
}
.rens {
    height: 80%;
    position: absolute;
    left: 5%;
    bottom: -80%;
    z-index:2;
    img {
        height: 100%;
    }
    
    
}

.bing {
    height: 80%;
    position: absolute;
    right: 5%;
    bottom: -80%;
    z-index:2;
    img {
        height: 100%;
    }
}
.barContainer {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    .bar {
        position: relative;
        padding:7px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        opacity:0;
        height: 40px;
        width: 3%;
        background-color: $regular-purple;
        border-radius: 35px;
        border: 3px solid #ffe6bf;
        .barText {
            font-family: cursive;
            font-size: 1vw;
            color:#faebd3; 
            opacity:0;  
            position: absolute;
            padding: 0px 10px;  
            width: 100%;
            //margin-left: 100%;
        }
    }
    
}

.flag {
    position: relative;
    margin-top: 7700px;
    margin-bottom: 30vh;
    height: 180px;


    .flagText {
        background:$regular-purple;
        z-index:1;
        position: absolute;
        width: 80%;
        left: 10%;
        padding: 40px 22px;
        color:#faebd3;
        font-weight:700;
        text-align: center;
        font-size:4vw;
        //text-shadow: 2px 0 0 #fff0d9, -2px 0 0 #ffe6bf, 0 2px 0 #ffe6bf, 0 -2px 0 #ffe6bf, 1px 1px #ffe6bf, -1px -1px 0 #ffe6bf, 1px -1px 0 #ffe6bf, -1px 1px 0 #ffe6bf;
        border-width: 3px 0 3px 0;
        border-style:solid;
        border-color:#ffe6bf;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    
    .flagLeft {
        height:180px;
        width:150px;
        position: absolute;
        left:0px;
        top: 50px;
        z-index:0;
        border-width: 3px 0 3px 0;
        border-style:solid;
        border-color:#e4be82;
    }
    .flagRight {
        height:180px;
        width:150px;
        position: absolute;
        right:0px;
        top: 50px;
        transform: rotate(180deg);
        z-index:0;
        border-width: 3px 0 3px 0;
        border-style:solid;
        border-color:#e4be82;
    }

    
}

.note1 {
    left:30%;
    top:3150px;
    position:absolute;
    opacity:0.5;
    transform: rotate(20deg);
    img {
        width:50%;
    }
}

.note2 {
    left:15%;
    top:4700px;
    position:absolute;
    opacity:0.5;
    transform: rotate(-20deg);
    img {
        width:50%;
    }
}
.note3 {
    left:15%;
    top:5700px;
    position:absolute;
    opacity:0.5;
    transform: rotate(-10deg);
    img {
        width:100%;
    }
}
.note4 {
    left:55%;
    top:3680px;
    position:absolute;
    opacity:0.5;
    transform: rotate(-30deg);
    img {
        width:70%;
    }
}

.notesTree1 {
    left:0px;
    top:2050px;
    position:absolute;
    opacity:0.5;
}
.notesTree2{
    right:0px;
    top:4050px;
    position:absolute;
    opacity:0.5;
    img {
        float: right;
    }
}
.notesTree3 {
    right:0px;
    top:5150px;
    position:absolute;
    opacity:0.5;
    img {
        float: right;
    }
}
.notesTree4 {
    left:0px;
    top:6050px;
    position:absolute;
    opacity:0.5;
}

.notesTree5 {
    left:0px;
    top:7000px;
    position:absolute;
    opacity:0.5;
    width: 100%;
    overflow:hidden;
    img {
        width: 100%;
        margin-left: 0%;
    }
}

.larger {
    font-size:150%;
    display: inline-block;
}

.smaller {
    font-size:75%;
    display: inline-block;
}

.movingMessage {
    position:absolute;
    z-index:2;
    color:$white;
    text-align: center; 
    width: calc(100% - 30px);
    font-size: 4vw;
    opacity:0;
}

.movingMessage1 {
    top:420px;
    font-size: 18vw;
    opacity:1;
}
.movingMessage2 {
    top:2000px;
    font-size: 6vw;
}
.movingMessage3 {
    top:2500px;
}
.movingMessage4 {
    top:3000px;
    font-size: 5vw;
}
.movingMessage5 {
    top:3500px;
    font-size: 6vw;
}

.movingMessage6 {
    top:4000px;
}
.movingMessage7 {
    top:4500px;
    font-size: 3vw;
}

.movingMessage8 {
    top:5000px;
    font-size: 2.5vw;
}
.movingMessage9 {
    top:5500px;
    font-size: 4vw;
}
.movingMessage10 {
    top:6000px;
}
.movingMessage11 {
    top:6500px;
}
.movingMessage12 {
    top:7500px;
}
.movingMessage13 {
    top:8000px;
}
.movingMessage14 {
    top:8500px;
}


.music {
    position: fixed;
    bottom: 10px;
    width: 50%;
    left: 25%;
    z-index: 10;
}

.blueBarContainer {
    width:100%;
    position:absolute; 
    z-index: 1;
    .blueBar {
        position: relative;
        height: 12px;
        background: $regular-blue;
        border-width: 3px 0 3px 0;
        border-style:solid;
        border-color:#ffe6bf;
        width: 100%;
        left: -100%;
        margin-bottom: 12px;
    }
}

.redBarContainer {
    width:100%;
    position:absolute;
    top:12px;
    z-index: 1;
    .redBar {
        position: relative;
        height: 12px;
        background: $regular-red;
        border-width: 3px 0 3px 0;
        border-style:solid;
        border-color:#ffe6bf;
        width: 100%;
        left: 100%;
        margin-bottom: 12px;
    }
}